header{
    background-color: rgb(58, 78, 122);
    color: rgb(255, 239, 239);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 40px;
    width: 150px;
   padding-right: 30px;
}

